<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    
    <!-- 引入配置文件 user、passworl在一起 -->
    <!--    <properties resource="db.properties"/>-->
    
    <!-- 引入配置文件 db.properties中可以删除username和password user、passworl分开 -->
    <properties resource="db.properties">
        <property name="u" value="root"/>
        <!-- 名字相同时 优先使用外部配置文件 -->
        <property name="password" value="wrongpsd"/>
    </properties>



    <settings>
<!--        标准日志实现-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->

<!--        LOG4J -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
<!--        使用别名-->
        <typeAlias type="com.lsgf.pojo.User" alias="User"/>
        <package name="com.lsgf.pojo"/>
    </typeAliases>

    <environments default="driver2">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/testdb?useSSL=false&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/testdb?useSSL=false&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>

        <environment id="driver">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <environment id="driver2">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${u}"/>
                <property name="password" value="${password}"/>

            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/lsgf/dao/UserMapper.xml"/>
    </mappers>
</configuration>